.clients__title {
  font-size: 28px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--blue-accent);
  }
}

.clients__icon {
  fill: var();
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--blue-accent);
  }
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}
.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
